:root {
  --title-color: #2e2f42;
  --accent-color: #404bbf;
  --subtitle-text: #434455;
  --active-links: #4d5ae5;
  --white-background: #ffffff;
  --light-backround: #f4f4fd;
  --button-border: #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-beginning {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--active-links);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--subtitle-text);
  background-color: var(--white-background);
}

.hero {
  /* background-color: var(--title-color); */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 112px 54px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 428px;
  background-position: center;
  margin: 0 auto;
  /* background-position: 50% 50%; */
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.header-styles {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.hero-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-right: auto;
  margin-left: auto;

  max-width: 496px;
}

.hero-body {
  display: block;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--active-links);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 0;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.address-default {
  font-style: normal;
}
.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);
  text-decoration: none;
  gap: 40px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.why-choose {
  padding: 120px 0;
}

.benefits-size {
  padding: 120 0 120 0;
}

.benefits-list {
  list-style-type: none;
  gap: 72px;
  flex-wrap: wrap;
}

.benefits-item {
  width: 100%;
}

.benefits-name {
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  color: var(--title-color);
  margin-bottom: 8px;
  text-align: center;
}
.benefits-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);

  /* SLATE */
}

.benefits-icon {
  background-color: var(--light-backround);
  border-radius: 4px;
  display: none;
  align-items: center;
  justify-content: center;
  /* padding: 24px 0 24px 0; */
  margin-bottom: 8px;
  height: 112px;
}
.icon-benefit {
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 24 px;
  margin-bottom: 24 px; */
}

.services {
  display: none;
  /* padding-bottom: 120px; */
}

.services-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
.services-list {
  list-style-type: none;
  gap: 24px;
}
.services-item {
  width: calc((100%-48px) / 3);
}
.team {
  background-color: var(--light-backround);
  padding: 96px 0;
}
.card-wrapper {
  padding: 32px 0;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 8px 0 0 0;
  /* position: relative; */
}

.social-media-hyper {
  width: 100%;
  height: 100%;
  background-color: var(--active-links);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-hyper:hover,
.social-media-hyper:focus {
  background-color: var(--accent-color);
}

.social-list-item {
  width: 40px;
  height: 40px;

  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.socmedia-icon {
  fill: var(--light-backround);

  /* margin-left: auto;
  margin-right: auto; */
}

.team-card {
  background-color: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  /* width: calc((100% - 72px) / 4); */
}
.team-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
.team-members-list {
  list-style-type: none;
  gap: 72px;
  margin-bottom: 0;
  margin-top: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  /* SLATE */
}
.footer-cta {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* CLOUD */
  color: var(--light-backround);
  max-width: 264px;
  margin: 0;
}
.footer-settings {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
  align-items: baseline;

  /* margin-top: 72px; */
}
.footer-content {
  /* padding: 100px 0; */
  display: flex;
  align-items: baseline;
}
.footer-logo {
  color: var(--light-backround);
}
.logo-bottom {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-container {
  margin-right: 120px;
}

/* .footer-content {
  max-width: 1158px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

.menu-button {
  /* CLOUD */
  font-family: "Roboto", sans-serif;
  background: var(--light-backround);
  /* CORNFLOWER */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--button-border);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* IRIS */

  color: var(--active-links);
}
.menu-button:hover,
.menu-button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--white-background);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 0;
}
.project-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .overlay-description {
  /* color: var(--accent-color); */

  transform: translateY(0%);
}

.project-link:focus .overlay-description {
  /* color: var(--accent-color); */

  transform: translateY(0%);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-dimensions {
  width: calc((100% - 48px) / 3);
}
.project-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-backround);
  padding: 40px 32px;
  background-color: var(--active-links);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-overlay:hover,
.project-overlay:focus {
  transform: translateY(0%);
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin-bottom: 72px;
  margin-top: 0;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
  margin-top: 0;
}

.project-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-positioning {
  padding-top: 96px;
  padding-bottom: 120px;
}

.customers {
  padding: 96px 16px;
  /* max-width: 1128px; */
}
.customer-icon {
  fill: currentColor;
}
/* .customer-icon:hover {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.customer-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  column-gap: 16px;
  row-gap: 72px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.customer-card {
  /* width: calc((100%-120px) / 6);
  height: 88px; */
  width: 168px;
  height: 88px;
  /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.footer-social-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--white-background);
  margin-bottom: 16px;
}
.footer-social {
  width: 208px;
  height: 80px;
}

.footer-social-media {
  display: flex;
  gap: 16px;
  margin: 16px 0 0 0;
  display: flex;
  align-items: center;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.footer-media-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--active-links);
}

.footer-media-hyper {
  width: 100%;
  height: 100%;
  background-color: var(--active-links);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-hyper:hover,
.footer-media-hyper:focus {
  background-color: #31d0aa;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-button {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .close-icon:hover,
.close-icon:focus {
  fill: #ffffff;
} */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
  max-width: 360px;
  margin: 0 0 16px 0;
}
.modal-form {
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit {
  background-color: var(--active-links);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding: 0;
}
.button-submit:hover,
.button-submit:focus {
  background-color: var(--accent-color);
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}
.input-field {
  margin-bottom: 8px;
}
.modal-input:focus {
  border-color: var(--active-links);
  stroke: var(--active-links);
}
.modal-input:focus + .modal-icon {
  fill: var(--active-links);
}
.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 264px;
  height: 40px;
  /* margin-right: 24px; */
  padding-left: 16px;
  /* padding-top: 8px;
  padding-bottom: 8px; */
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.subscribe-icon {
  fill: var(--white-background);
  /* margin-left: 16px; */
}
.subscribe-button {
  background-color: var(--active-links);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 0; */
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  /* margin-right: 0; */
}

.subscribe-button:hover {
  background-color: var(--accent-color);
}

.footer-label {
}
.footer-form {
  display: flex;
  gap: 24px;
}
.modal-field {
}
.modal-text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-text-area:focus {
  border-color: var(--active-links);
}
.privacy-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-link {
  color: var(--active-links);
}
.privacy-policy span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-agree:checked + .privacy-policy span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--light-backround);
}
.modal-check {
  /* margin-top: 16px; */
  margin-bottom: 24px;
}
.comment {
  margin-bottom: 16px;
}
.privacy-span {
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
  .benefits-item {
    max-width: 396px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .benefits-list {
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }

  .benefits-item {
    max-width: unset;
    flex-basis: calc((100% - 24px) / 3);
  }
  .benefits-name {
    text-align: unset;
  }
  .team-members-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  .customer-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .benefits-list {
    flex-wrap: unset;
  }
  .benefits-icon {
    background-color: var(--light-backround);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 24px 0 24px 0; */
    margin-bottom: 8px;
    height: 112px;
  }
  .benefits-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .benefits-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .team {
    padding: 120px 0;
  }
  .team-members-list {
    gap: 24px;
    margin-bottom: 0;
    margin-top: 0;
    flex-wrap: unset;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }
  .services {
    display: block;
    padding: 0 0 120px 0;
  }
  .customers {
    padding: 120px 0;
  }
  .customer-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-wrap: unset;
  }
}
